<form action="/vendor/@Model/allorders" method="post">
<input type="text" name="aOrderTitle">
<input type="text" name= "aDescription">
<input type="text" name= "aPrice">
<input type="text" name= "aDateOfOrder">
<button type="submit">Create Order</button>
</form>