
<form action="/vendor/@Model/allorders" method="post">
<label for ="aOrderTitle"> Order Title: </label>
<input type="text" name="aOrderTitle">
<label for ="aDescription"> Description: </label>
<input type="text" name= "aDescription">
<label for ="aPrice"> Price: </label>
<input type="text" name= "aPrice">
<label for ="aDateOfOrder"> Date Of Order: </label>
<input type="text" name= "aDateOfOrder">
<button type="submit">Create Order</button>
</form>