@{
  Layout = "_Layout";
}
<body>
  <div class="jumbotron">
  <div class="container">
    Vendor Name: <li>@Model.Customer.Name</li>
    Order Price:<li>@Model.Order.Price</li>
    Date Of Order:<li>@Model.Order.DateOfOrder</li>
    </div>
    </div>
</body>