@using VendorOrderTracker.Models;
@using System.IO;
<link rel="stylesheet" href="~/css/styles.css">

<body>
    <h1> All Vendors </h1>
    @foreach (var guy in Model)
    {
      
        <li><a href="/vendor/delete/@guy.ID"> Delete Vendor</a>@guy.ID</li>
        <li> <a href="/vendor/@guy.ID/allorders">Name : @guy.Name</a></li>
        <li> Description: @guy.Description</li>
    }
<a href = "/vendors"> Go to vendors </a>
<br>
<a href = "/vendors/newvendor">Add new vendor</a>

</body>