@using VendorOrderTracker.Models;
@using System.IO;

<body>
    <h1> All Vendors </h1>
    @foreach (var guy in Model)
    {
        <li>@guy.ID</li>
        <li> <a href="/vendor/@guy.ID/allorders">Name : @guy.Name</a></li>
        <li> Description: @guy.Description</li>
    }
</body>