<form action="/vendors" method="post">
<label for="vendorName"> Vendor Name: </label>
<input type="text" name="vendorName">
<label for="vendorDescription"> Vendor Description: </label>
<input type="text" name= "vendorDescription">
<button type="submit">Create Vendor</button>
</form>